<section id="contact">
  <div class="yellow-bar">
    <h1>Entre em contato!</h1>
    <div class="contact-info">
      <img src="/assets/img/face-icon.svg" alt="ícone-facebook"/>
      <img src="/assets/img/mail-icon.svg" alt="ícone-email"/>
      <p>
        <strong>Endereço:</strong> Rua Duílio, 520 • São Paulo/SP
        <strong>Telefone:</strong> 11 5090-1933
      </p>
    </div>
  </div>
  <div class="form-container">
    <form action="" method="post">
      <input type="text" name="name" placeholder="Nome">
      <input type="email" name="_replyto" placeholder="Email">
      <textarea name="message" rows="8" placeholder="Mensagem"></textarea>
      <button type="submit" name="button">Enviar</button>
    </form>
  </div>
</section>
