<header id="home">
  <div class="content">
    <h1>Espaço Corre Cutia</h1>
    <hr>
    <p>Um novo conceito de atividade física para crianças.</p>
  </div>
</header>
<div class="container-post">
  <div class="post-belt">
    <div class="post-img">
      <a target="_blank" href="https://www.facebook.com/cutiacorre/photos/a.688620684651451.1073741829.688592797987573/688620461318140/?type=3&theater"><img src="assets/img/posts/curso-ferias.jpg" alt=""></a>
    </div>
    <div class="post-text">
      <h3>Curso Férias</h3>
      <p>Tempo de férias, criançada! Estão abertas as portas do Corre Cutia!
        Muita brincadeira e diversão. Venham nos conhecer! Mais informações
        inbox ou pelo email cursodeferiascorrecutia@gmail.com</p>
    </div>
  </div>
</div>
