<section id="history">
  <div class="flex">
    <div class="col-1">
      <div class="flex-video">
        <iframe src="https://www.youtube.com/embed/q1boRc4afGw" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-2">
      <h1>História</h1>
      <hr>
      <p>O Espaço Corre Cutia é um novo conceito de atividade física para criança que tem o propósito de, por meio da ludicidade, desenvolver as habilidades motoras básicas de uma forma prazerosa, fazendo com que as crianças brinquem sem a preocupação de serem adultos. Propomos desenvolver as habilidades infantis de tal modo a não limitá-las e treiná-las para uma determinada competência, tal como acontece nos esportes oficiais.</p>
    </div>
  </div>
</section>
