<section class="section-history">
  <div class="wrap">
    <div class="flex">
      <div class="col-1">
        <div class="flex-video">
          <iframe src="https://www.youtube.com/embed/q1boRc4afGw" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-2">
        <h1 id="history">Por que Corre Cutia?</h1>
        <hr>
        <p>O Corre Cutia surgiu do desejo de trazer para a realidade urbana e
          contemporânea, um espaço para o livre desenvolvimento que brincadeiras
          infantis de rua produziram em nós. Sendo assim, este não é mais um
          espaço para o aprendizado das atividades físicas habituais e mecânicas.
          Não é um espaço para aprender balé, judô, futebol ou outros esportes,
          mas também não tem a ilusão de querer reproduzir o passado. <br><br>O brincar
          possibilita à criança construir-se integralmente. Se nas atividades
          físicas a primeira formação que nos vem à cabeça é a motora, na
          atividade lúdica esta habilidade se forma a partir do desenvolvimento
          dos campos afetivo e cognitivo. Sendo assim, brincar é o compromisso
          que a criança tem com seu todo, consigo mesma e com o outro: enquanto
          ela brinca seu mundo interno se dispõe a existir no externo, sem as
          leis e as regras dos jogos esportivos.</p>
      </div>
    </div>
  </div>
</section>
