<div class="mobile-nav">
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#service">Como Funciona</a></li>
    <li><a href="#teachers">Professores</a></li>
    <li><a href="#contact">Contato</a></li>
  </ul>
</div>

<div class="site-nav">
  <div class="brand">
  </div>
  <div class="desk-nav">
    <nav>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#service">Como Funciona</a></li>
        <li><a href="#teachers">Professores</a></li>
        <li><a href="#contact">Contato</a></li>
      </ul>
    </nav>
  </div>
  <div class="mobile-nav-toggle">
    <span></span>
  </div>
</div>
