<section id="service">
  <div class="bg-yellow">
    <div class="wrap">
      <h1>Como Funciona</h1>
      <hr>
      <p>A metodologia utilizada no Espaço Corre Cutia terá a seguinte
        configuração: as aulas terão duração de 1 hora cada sessão, sendo o mínimo
        1 sessão por semana. Serão 3 professores por aula; cada professor será
        responsável por uma estação que terá o máximo de 7 alunos
        (21 alunos por aula), o aluno permanecerá o tempo de 10 minutos em cada
        estação, os professores aplicarão 3 séries de exercícios por aula.
        Todas as aulas terão acompanhamento musical de acordo com a faixa
        etária.</p>
    </div>
  </div>
  <div class="wrapphotos">
    <div class="flex">
      <div class="photo one">
        <img src="assets/img/ex01.jpg" alt="funcional" />
      </div>
      <div class="photo two">
        <img src="assets/img/ex02.jpg" alt="equilibrio" />
      </div>
    </div>
  </div>
</section>
