<section id="service">
  <div class="bg-yellow">
    <div class="wrap">
      <h1>Como Funciona</h1>
      <hr>
      <p>O Corre Cutia é um espaço preparado para a brincadeira: galpão amplo,
        dividido em estações móveis coordenadas por profissionais de pedagogia,
        educação física ou artes do corpo, a que denominamos de brincante.
        <br><br>
        A função do brincante será a de oferecer a narrativa mínima para o
        desenvolvimento da brincadeira, permitindo às crianças que contribuam
        para o andamento do jogo, estabelecendo com o grupo uma relação
        horizontal e, contudo, responsável.<br><br>
        As brincadeiras serão organizadas em um circuito composto por estações
        com materiais variados – bolas,slackline, colchões, tecido acrobático,
        peteca, frisbee, malabares, tatame. Cada uma será composta por no máximo
        7 alunos. Optar por esses materiais significa atualizar os objetos de
        brincadeiras, mantendo, no entanto, sua função.<br><br>
        Sendo assim, os materiais não terão pré-definidas suas utilidades, pelo
        contrário, terão atribuídas suas funções e características no ato da
        brincadeira. Do mesmo modo, as crianças também terão a possibilidade de
        experimentar a cada jogo novos desafios corporais, afetivos ou sociais
        que a colocarão em situações e papeis diversos: ora de liderança, ora de
        cuidado, por exemplo. Esse exercício de liberdade e desprendimento
        permitirá à criança construir o respeito ao outro e a si mesma.</p>
    </div>
  </div>
  <div class="wrapphotos">
    <div class="flex">
      <div class="photo one">
        <img src="assets/img/ex01.jpg" alt="funcional" />
      </div>
      <div class="photo two">
        <img src="assets/img/ex02.jpg" alt="equilibrio" />
      </div>
    </div>
  </div>
</section>
