<section class="section-teachers">
  <h1 id="teachers">Professores</h1>
  <div class="belt-controls">
    <div class="belt-control-next">{% include icons/icon-next.html %}</div>
    <div class="belt-control-prev">{% include icons/icon-prev.html %}</div>
  </div>
  <div class="teachers-belt">
    <div class="teacher-unit">
      <div class="teacher-avatar">
        <img src="assets/img/teachers/jose.jpg" alt="Foto professor" />
      </div>
      <div class="teacher-resume">
        <strong class="teacher-name">José Pereira</strong>
        <br>
        <em class="teacher-email">jose.pereira@correcutia.com</em>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>
  <div class="teachers-control">
    <div class="teacher-control active-teacher"></div>
    <div class="teacher-control"></div>
    <div class="teacher-control"></div>
    <div class="teacher-control"></div>
  </div>
</section>
